* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    background-color: #c3c3c3;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
}


.container button {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    background-color: rgb(1, 53, 1);
    color: white;
    transition: all 200ms ease-in-out;
}

.container button:hover {
    background-color: rgb(83, 244, 83);
}